{% extends 'base.html' %}

{% block title %}
<title></title>

Top
{% endblock title %}


{% block header %}



{% endblock header %}
{% block content %}
<div class='container'> 

<div class="alert alert-primary" role="alert">
  <p>選択してください</P>
  <a href="{% url 'newgroup' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">グループを作成する</a>
  <a href="{% url 'join' %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">グループに参加する</a>

</div>
{% endblock content %}

