<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>private page</h2>
    <h1>Home page</h1>
    <p><a href="{% url 'task' %}">Task</a></p>
    <p><a href="{% url 'propose' %}">Propose</a></p>
    <p><a href="{% url 'reserve' %}">Reserve</a></p>
    <p><a href="{% url 'tag' %}">Tag</a></p>
    
    
    <p><a href="{% url 'top' %}">Top</a></p>

</body>
</html>
