<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>propose page</h1>
    <h2>反復・自動提案機能のページ</h2>
    

    <p><a href="{% url 'task' %}">Task</a></p>
    <p><a href="{% url 'reserve' %}">Reserve</a></p>
    <p><a href="{% url 'tag' %}">Tag</a></p>
    
    <p><a href="{% url 'home' %}">Home</a></p>
    <p><a href="{% url 'top' %}">Top</a></p>
</body>
</html>
