{% extends 'base_teacher.html' %}

{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/class_teacher.css' %}">
{% endblock css %}




{% block title %}
<title>Document</title>
{% endblock title %}




{% block content %}
    <div class = "container">
        <form action="" method="post">
            {%if result%}
            <h4><font color="red">{{result}}</font></h4>
            {%endif%}
            {% csrf_token %}
            <h4>クラス名</h4>
            <input type="input" name="name" minlength="1" maxlength="32">
            <h4>クラスのパスワード</h4>
            <input type="input" name="password" minlength="4" maxlength="32">
            <input type="submit" value="create"/>
        </form>
    </div>


{% endblock content %}