{% extends 'base.html' %}



{% block title %}
<title>Document</title>
{% endblock title %}




{% block content %}

    <form action="" method="post">
        {%if result%}
        <h4><font color="red">{{result}}</font></h4>
        {%endif%}
        {% csrf_token %}
        <h4>宿題</h4>
        <input type="input" name="name" minlength="1" maxlength="32">
        <h4>内容</h4>
        <textarea name="content" maxlengt="800"　rows="4" cols="60">ここに内容を書いてください。</textarea>
        <input type="submit" value="create"/>
    </form>


{% endblock content %}