{% extends 'base.html' %}

{% block title %}
<title></title>

{% endblock title %}


{% block header %}



{% endblock header %}
{% block content %}
  <!--<p style = "width: 100%;text-align: center;">選択してください</P>-->
  <div style="text-align: center;width: 100%;min-height: 100%;margin-top: 30px;">
  <a class= "select-link" href="{% url 'newgroup' %}" style="display:inset-block;">グループを作成する</a>
  <a class= "select-link" href="{% url 'join' %}" display="display:inline-block;">グループに参加する</a>
  </div>
{% endblock content %}

