{% extends 'base_teacher.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'teacher/class_teacher.css' %}">
{% endblock css %}



{% block title %}
<title>質問一覧</title>
{% endblock title %}


{% block content %}
<div class="backbutton"><a href="../">一覧へ<br>戻る</a></div>
<div class ="container">
    <div class ="Contentstitle">
        <span>質問詳細</span>
    </div> 

<div class="messagecontents">
    <div>FROM. {{q.fromSt.name}}</div>
    <div>Title : {{q.title}}</div>
    <br>
    <div> Task → |{{q.task.name}}|</div>
    <br>
    <div>最終更新</div>
    <div>{{q.finalup}}</div>
</div>
<div class="displaybox">
<div>日程</div>
{%for a in Accept%}
<div>日程:{{a.day}} {{a.time}}〜</div>
{%endfor%}
</div>
<div class="displaybox">
<div>希望日程</div>
{%for a in Appo%}
<div>日程:{{a.day}} {{a.time}}〜</div>
{%endfor%}
</div>
<div class="displaybox" style="height: 200px;">
<h4>コメント一覧</h4>
{%for c in Comment%}
<H5>
{%if c.isStudent%}
    auther:{{student.name}}
{%else%}
    auther:{{teacher.name}}
{%endif%}
</H5>
<h6>{{c.comment}}</h6>
{%endfor%}
</div>
<form action="" method="post" class="commentbox" >
    {% csrf_token %}
    <div style="margin-bottom: 20px;">コメントを送信</div>
    <textarea name = "comment" minlength="1"　rows="5" cols="40">コメントを書いてください</textarea>
    <input type="submit" value="send"/>
</form>
{%endblock content%}
