
@font-face {
	font-family: 'MyFont';
	src: url("../img/tem.ttf");
}
.p{
  
  color: rgba(255, 255, 255, 0.767);
  font-family:MyFont;
  
}
.header{
  
}
body{
  font-family:MyFont;
  background-image: url("../img/example.png");
  background-size: cover;
  }

p{
  font-family:sans-serif;
}

  .position-absolute{
    position: absolute;  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px; 
    height: 100px;
    font-family: Kokuban;
  }


@media screen and ( max-width: 480px ){
  p{
    color: #f00;
  }
}
