
* {
	margin:0; padding:0;
  }
  header {
	height: 100px;
	width: 100%;
	padding: 15px 0;
	/*background-color: #337079;*/
	background-image: url("../img/wood.jpg");
  	background-size: cover;
	color: white;
  }

  header .headline{
	  line-height: 100px;
	  float: left;
	  font-size: 30px;
	  margin-left: 100px;
  }
  .nav-list {
	font-family:MyFont;
	  line-height: 100px;
	  float: left;
	  margin-left: 30px;
	  list-style: none;
  }
  .nav-list-item {
	font-family:MyFont;
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	

  }
