body{
  font-family: 'Quicksand', sans-serif;
  color: #77AF9C;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.content {
	position: relative;
	width: 600px;
	margin: 40px auto;
	padding: 1em 2em;
  box-shadow:0px 0px 3px 2px #77AF9C;
  z-index: 1;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}

.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}

.cp_iptxt input[type='text']:focus {
	outline: none;
}

.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #77AF9C;
}

.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #77AF9C;
}

.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	left: 0;
	width: 100%;
	transition: 0.4s;
}

.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}

.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #77AF9C;
}

.content .btn_cont {
	text-align: center;
}

.content .btn {
	position: relative;
	background: currentColor;
	border: 1px solid currentColor;
	font-size: 1.1rem;
	color: #77AF9C;
	margin: 3rem 0;
	padding: 0.75rem 3rem;
	cursor: pointer;
	-webkit-transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
	        transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.content .btn span {
	color: #ffffff;
	position: relative;
	z-index: 1;
}

.content .btn::before {
	content: '';
	position: absolute;
	background: #071017;
	border: 50vh solid #1d4567;
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	display: block;
	top: 50%;
	left: 50%;
	z-index: 0;
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(0);
	        transform: translate(-50%, -50%) scale(0);
}

.content .btn:hover {
	color: #C5E99B;
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.content .btn:focus {
	outline: none;
}

input:focus {
    border:solid 1px #EEA34A;
}