<!--質問・予約機能のページ（生徒側）new ver-->
{% extends 'base_student.html' %}
{% block title %}
<title>Document</title>
{% endblock title %}
{% block content %}
<h1>質問・予約画面</h1>
    <p><a href="{% url 'students:chat_create' %}">質問・予約する</a></p>
    
    <h2>トーク一覧</h2>
    <ul>
        {%if questions%}
        {% for q in questions %}
        
        <p><a href="./{{q.id}}/">Title:{{ q.title }}</a></p>
        <p>{{ q.toTe.name }}</p>
        <p>{{ q.task.name }}</p>
        <p>{{q.finalup}}</p>
    {% endfor %}
    {%else%}
<h3>質問はありません</h3>
{%endif%}
    </ul>

{% endblock content %}
