{% extends 'base_student.html' %}

{% block title %}
<title>Document</title>
{% endblock title %}

{% block content %}
    {%if thisclass%}
    <p>クラス名</p>
    <h2>{{thisclass.class_name}}</h2>
    {%endif%}
    <br>
    {% if tasks %}
    {% for task in tasks %}
    <td>課題の名前{{ task.name }}</td>
    <br>
    <td>内容：{{ task.contents }}</td>
    <br>
    <td>{{ task.task.limit }}</td>
    <br>

    {% endfor %}
    
    {% else %}
    <p>No task.</p>
    {% endif %}

    <br>
    <script>
    var data = [{% for task in tasks %}
              ["{{ task.task.limit }}","{{ task.task.isResult }}","{{ task.name }}","{{ task.contents }}"],
              {% endfor %}
             ];

    var a = data[0][0];
    console.log(a);




</script>
      
{% endblock content %}




