{% extends 'base_student.html' %}



{% block title %}
<title>Document</title>
{% endblock title %}



{% block content %}


    <h4>Your student</h4>
    <h4>クラスに参加</h4>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="my">
        <input type="hidden" name="join" value=""> 
        <input type="submit" value="My_Class"/>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="all">
        <input type="hidden" name="join" value="">
        <input type="submit" value="All"/>
    </form>
    {% if classes %}
    {% if all %}
    {% for class in classes %}
    <form action="" method="post">
        {% csrf_token %}
        <h4>{{class.class_name}}</h4>
        <input type="hidden" name="join" value="{{class.id}}">
        <input type="hidden" name="type" value="all">
        <input type="submit" value="Join"/> 
    </form>
    {% endfor %}
    {%else%}
    {% for class in classes %}
    <h1><a href="/student/home/{{class.id}}">{{class.class_name}}</a></h1>
    {% endfor %}
    {%endif%}
    {%else%}
    <h4>クラスはまだありません</h4>
    {%endif%}
    {%if result%}
    <script>
        alert("{{result}}");
    </script>
    {%endif%}

    
  
    <p><a href="{% url 'students:task' %}">Task</a></p>
    <p><a href="{% url 'students:propose' %}">Propose</a></p>
    <p><a href="{% url 'students:reserve' %}">Reserve</a></p>
    <p><a href="{% url 'students:tag' %}">Tag</a></p>


    <p><a href="{% url 'top' %}">Top</a></p>
    
   
    
    
{% endblock content %}
