{% extends 'base_student.html' %}



{% block title %}
<title>Document</title>
{% endblock title %}



{% block content %}


    <h3>生徒ページ</h3>
    <h4>クラスに参加</h4>
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
          <div class="swiper-slide"><img class = "image" src = "../../static/img/ICON/1-01.png" height="100" width="100"></div>
          <div class="swiper-slide"><img src = "../../static/img/ICON/3-01.png"  height="100" width="100"></div>
          <div class="swiper-slide"><img src = "../../static/img/ICON/1-01.png" height="100" width="100"></div>
          <div class="swiper-slide"><img src = "../../static/img/ICON/3-01.png"  height="100" width="100"></div>
          <div class="swiper-slide"><img src = "../../static/img/ICON/1-01.png" height="100" width="100"></div>
          <div class="swiper-slide"><img src = "../../static/img/ICON/3-01.png"  height="100" width="100"></div>
          <div class="swiper-slide"><img src = "../../static/img/ICON/1-01.png" height="100" width="100"></div>
      
        </div>

        
        
      </div>
      <table>
          <tr>
              <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="my">
                    <input type="hidden" name="join" value=""> 
                    <input class="btn btn--orange btn--radius" type="submit" value="My_Class"/>
                </form>
              </td>
              <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="all">
                    <input type="hidden" name="join" value="">
                    <input class="btn btn--orange btn--radius" type="submit" value="All"/>
                </form>
              </td>
          </tr>
    
       </table>
    
    
   
    {% if classes %}
    {% if all %}
    {% for class in classes %}
    <form action="" method="post">
        {% csrf_token %}
        <h4>{{class.class_name}}</h4>
        <input type="hidden" name="join" value="{{class.id}}">
        <a href="" ><input type="hidden" name="type" value="all"></a>
        <input type="submit" value="Join"/> 
    </form>
    {% endfor %}
    {%else%}
    {% for class in classes %}
    <h1><a href="/student/home/{{class.id}}">{{class.class_name}}</a></h1>
    {% endfor %}
    {%endif%}
    {%else%}
    <h4>クラスはまだありません</h4>
    {%endif%}
    {%if result%}
    <script>
        alert("{{result}}");
    </script>
    {%endif%}

    
     <!--
    <p><a href="{% url 'students:task' %}">Task</a></p>
    <p><a href="{% url 'students:propose' %}">Propose</a></p>
    <p><a href="{% url 'students:reserve' %}">Reserve</a></p>
    <p><a href="{% url 'students:tag' %}">Tag</a></p>


    <p><a href="{% url 'top' %}">Top</a></p>
     -->
</div>
<!-- Swiper -->

    
   
    
    
{% endblock content %}
