{% extends 'base_student.html' %}
{% block title %}
<title>Document</title>
{% endblock title %}
{% block content %}

<a href="../">一覧へ戻る</a>
<h1> {{ one.toTe.name }} </h1>
<h4>コメント一覧</h4>
{%for c in Comment%}
<h5>
{%if c.isStudent%}
    {{student.name}}
{%else%}
    auther:{{ one.toTe.name }}
{%endif%}
</h5>
<h6>{{c.comment}}</h6>
{%endfor%}

<form action="" method="post" class="commentbox" >
    {% csrf_token %}
    <textarea name = "comment" minlength="1" rows="5" cols="40">コメントを書いてください</textarea>
    <br>
    <input type="submit" value="send"/>
</form>

<script>
    var n = function(){
      window.location.href = '';
    } 
    setInterval(n, 1000);
  </script>

{% endblock content %}
